<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title>کمک مالی!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/shabnam-font/5.0.1/font-face.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <div class="container theme-background-white main-body">
    <div class="col-md-11">
      <div class="row donate-bar">

        <div class="col-md-3 theme-blue headline">
          کمک مالی به من
        </div>

        <div class="col-md-8">
          <ul class="nav navbar-nav navbar-left donate-buttons" id="donate-buttons">
            <li><a href="#">
                <button class="btn-green" data-toggle="modal" data-target="#myModal">
                  پرداخت
                </button>
              </a></li>

            <li id="other"><a href="#">
                <button class="btn-blue-other" data-tomans='other' data-impact="ممنونم!">
                  مبلغ دلخواه
                </button>
              </a></li>

            <li id="other-input">
              <span>تومان</span>
              <input data-impact="ممنونم از سخاوت شما!">
            </li>

            <li><a href="#">
                <button class="btn-blue" data-tomans='50000' data-impact="خیلی خیلی خیلی ممنونم!">
                  50000 تومان
                </button>
              </a></li>

            <li><a href="#">
                <button class="btn-blue" data-tomans='20000' data-impact="خیلی خیلی ممنونم!">
                  20000 تومان
                </button>
              </a></li>

            <li><a href="#">
                <button class="btn-blue active" data-tomans='5000' data-impact="خیلی ممنونم!">
                  5000 تومان
                </button>
              </a></li>

            <li style="display: none;"><a href="#">
                اطلاعات بیشتر<i class="fa fa-chevron-right margin-right"></i>
              </a></li>
          </ul>
          <p class="impact">
            ممنونم که اینجا هستید!
          </p>

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header well text-center theme-background-blue">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                      class="sr-only">بستن</span></button>
                  <h2></h2>
                  <h1 style="font-size: 5.5em; margin-top: 0;"><span id="price"></span> تومان</h1>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <section class="col-md-12">
                      <form action="/make_payment" method="post">
                        <fieldset class="col-md-12">
                          <input name="amount" type="number" class="amount-input" required>
                          <label>نام</label>
                          <input name="name" type="string" class="form-control" required>
                          <label>شماره تماس (اختیاری)</label>
                          <input name="phone" type="tel" pattern="^09\d{9}$" class="form-control">
                          <label>ایمیل (اختیاری)</label>
                          <input name="email" type="email" class="form-control">
                          <label>توضیحات (اختیاری)</label>
                          <textarea name="description" class="form-control"></textarea>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                            <button type="submit" class="btn-green">تایید و پرداخت</button>
                          </div>
                        </fieldset>
                      </form>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i = 0; i < messages.length; i++) {
        alert(messages[i]);
      }
    </script>
    {% endif %}
    {% endwith %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
