<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title>کمک مالی!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/shabnam-font/5.0.1/font-face.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class='{% if verified and not again %} theme-background-green
  {% elif verified and again %} theme-background-blue
  {% else %} theme-background-grey
  {% endif %}'>
  <div class="col-md-5-center payment-result">
    {% if verified and not again %}
    پرداخت انجام شد.<br>
    کد رهگیری: {{ pay_trace }}
    {% elif verified and again %}
    این پرداخت قبلا انجام شده است.
    {% else %}
    پرداخت انجام نشد.
    {% endif %}
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>

</body>

</html>